
    body {
      font-family: Arial, sans-serif;
      margin: 60px 120px ;
      color: #333;
    }

    .header {
      background-color: #f2f2f2;
      margin-top: 20px;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #ccc;
    }

    .header div {
      font-size: 14px;
    }

    

    .section-title {
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .product {
      display: flex;
      border-top: 1px solid #ccc;
      padding: 15px 0;
    }

    .product img {
      width: 100px;
      height: auto;
      margin-right: 15px;
    }

    .product-details {
      flex-grow: 1;
    }

    .product-details h4 {
      margin: 0;
      font-weight: bold;
    }

    .product-details p {
      margin: 5px 0;
      font-size: 14px;
    }

    .price-info {
      text-align: right;
      font-size: 14px;
    }

    .price-info .label {
      font-weight: bold;
    }

    .summary {
      border-top: 1px solid #ccc;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
    }

    .summary .envio {
      font-size: 14px;
      line-height: 1.6;
    }

    .summary .total {
      text-align: right;
      font-size: 14px;
      line-height: 1.6;
    }

    .total span {
      display: block;
    }

    a {
      color: #c6a643;
      text-decoration: none;
      cursor: pointer;
    }

    .container_pedido{
        display: none;
    }
    .container_pedido.visible{
        display: block;
    }
 