
:root {
    --color-dorado: #c6a643;             /* Color principal dorado oro */
    --color-dorado-claro: #e5c76f;       /* Para efectos hover o detalles */
    --color-dorado-oscuro: #8f772d;      /* Para bordes o sombreado */
    --color-negro-elegante: #1c1c1c;     /* Fondo oscuro elegante */
    --color-fondo---: #edf1f3;       /* Texto claro o fondo secundario */
    --color-fondo-suave--: #f7e5e5;       /* Texto claro o fondo secundario */
    --color-marron-cuero: #5c3a1e;       /* Detalles tipo cuero */
  }
  
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
:root {
    --color-dorado: #c6a643;             /* Color principal dorado oro */
    --color-dorado-claro: #e5c76f;       /* Para efectos hover o detalles */
    --color-dorado-oscuro: #8f772d;      /* Para bordes o sombreado */
    --color-negro-elegante: #1c1c1c;     /* Fondo oscuro elegante */
    --color-fondo---: #edf1f3;       /* Texto claro o fondo secundario */
    --color-fondo-suave--: #f7e5e5;       /* Texto claro o fondo secundario */
    --color-marron-cuero: #5c3a1e;       /* Detalles tipo cuero */
  }
  

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




body {
   margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: start;
  
  background-color:#f5f2ed ;
  font-family: 'Roboto', sans-serif;


  
}



/*----------------------------------------------HEADER---------------------------------*/

.header {
  background-color: #1a1a1a;
  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;      
  top: 0;             
  left: 0;
  width: 100%;          
  z-index: 20;        
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;      
  justify-content: space-between;

  background-color: #1a1a1a;
}


.nav__logo {
  display: flex;
  
  align-items: center;
  text-decoration: none;
}

.nav__logo-img {
  
  height: 50px;
}

.nav__logo-text {
  color: var(--color-dorado-claro);
  font-weight:200;
  margin-left: 0.5rem;
  line-height: 1.2;
  font-size: 18px;
}

.text-logo{
  letter-spacing: 0.1rem;
}
.nav__menu {
  display: flex;
  align-items: center;      /* Alineación vertical */
  gap: 2rem;                /* Espaciado entre elementos */
}

.nav__list {
  display: flex;
  align-items: center;      /* Alineación vertical */
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.carrito-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #c99900;
  color: var(--color-fondo-suave--);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: bold;
 
  
  
}

.nav__item {
  
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: var(--color-fondo-suave--);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

 .nav__link:hover {
    color: var(--color-dorado);
  }


.material-icons {
  
  font-size: 20px;
  vertical-align: middle;
}

/* Badge de usuario */
.user-badge {
  background-color: #f2c108;
  color: black;
  border: solid 4px var(--color-marron-cuero);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav__toggle{
    display: none;
}
.nav__close{
    display: none;
    color: #c6a643;
}
@media (max-width: 768px) {
  .container {
    margin: 5px 20px;
  }

  .nav__logo-text {
    max-width: 200px;
    font-size: 14px;
  }

  .nav__logo-img {
    height: 30px;
  }

  .nav__toggle {
    display: block;
    color: var(--color-dorado-oscuro);
    cursor: pointer;
  }

  .nav__menu.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav__menu {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    text-align: right;
    width: 50%;
    box-shadow: -15px 0 30px rgba(0, 0, 0, 0.3);
    background-color: #000000df;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .nav__close {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 20px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--color-dorado-claro);
    background-color: var(--color-negro-elegante);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
  }

  .nav__list {
    height: 100vh;
    flex-direction: column;
    
    align-items: end;
    margin-left: 80px;
    padding: 70px 0 0 10px;
    backdrop-filter: blur(1px);
  }

  .nav__item a {
    color: var(--color-dorado);
    font-weight: bold;
    user-select: none;
  }

  .nav__item a:hover {
    color: #ffffff;
  }
}



/*-----------------------------------------------------FOOTER-----------------------------------------------*/
footer {
  display: flex;
  margin-top: 4rem;
  height: 130px;
  background: var(--color-negro-elegante);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
 
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* <-- Ocupa todo el ancho disponible */
  padding: 1rem;
  box-sizing: border-box;
}




.footer-logo {
 
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-logo span{
  color: var(--color-dorado);
}

.footer-content p {
 text-align: center;
  font-size: 0.9rem;
  color: var(--color-dorado-oscuro);
}

.footer-content p small {
  font-weight: bold;
 }

.footer-content small {
  font-size: 0.75rem;
}






 .nav__item--perfil {
  margin-left: 20px;
  position: relative;
}

.dropdown-menu li a {
  
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

.dropdown-menu li:hover {
  
 background: var(--color-dorado-claro);
 
}


/* Ocultar el menú por defecto */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 150%; 
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  list-style: none;
  padding: 0.5rem 0;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Mostrar cuando tiene la clase .show */
.dropdown-menu.show {
  display: block;
}



  

table {
  margin: 0  auto;
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
th, td {
  padding: 16px;
  text-align: left;
  font-size: 14px;
}
th {
  background-color: var(--color-fondo---);
  color: var(--color-marron-cuero);
  font-weight: 600;
}
td {
  border-top: 1px solid #f0f0f0;
  vertical-align: middle;
}
.img-box {
  width: 50px;
  height: 50px;
  background-color: var(--color-fondo---);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-box img {
  width: 30px;
}
.actions i {
  margin: 0 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.actions i.fa-pen {
  background-color: #fff7ed;
  color: var(--color-dorado);
}
.actions i.fa-trash {
  background-color: #fee2e2;
  color: var(--color-marron-cuero);
}


/*----------------------------FORM CONTAINER---------------------------------*/

.form-container{
    margin: 40px auto 20px;
  max-width: 80%;
  min-height: 70vh;
 
  
  
}


  
  form h2 {
    color: var(--color-dorado);
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.4rem;
  }
  
  form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: var(--color-marron-cuero);
  }
  
  form input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--color-fondo---);
    border-radius: 6px;
    font-family: var(--font-family-base);
    font-size: 14px;
    color: var(--color-negro-elegante);
    transition: border-color 0.3s ease;
  }
  
  form input:focus {
    outline: none;
   
    box-shadow: 0 0 1px var(--color-dorado);
  }
  
  form button {
    margin-top: 1.5rem;
    
    padding: 8px 15px;
    background-color: var(--color-dorado);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease;
   
  }
  
  form button:hover {
    background-color: #b28c1f;
  }

  .form-container {
    display: flex;
    gap: 30px; /* espacio entre formularios */
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .card-form {
    flex: 1; /* que ocupen el mismo ancho */
    min-width: 300px;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .form-envioCompra{
    width: 700px;
  }

  .formulario-compra{
    overflow: hidden;
    padding: 2rem;
    min-width: 70%;
    max-height: 450px;
    margin: 0 auto 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    font-size: 14px;
    color: var(--color-marron-cuero);
    font-weight: 500;
   
  }
 .formulario-compra input{
  margin-top: 8px;
   outline: none;
    border-color: var(--color-dorado-claro);
    box-shadow: 0 0 1px var(--color-dorado);
 }
 .tablaProductos{
  margin-top: 1rem;
  width: 100%;
 }

 .container-tabla{
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dorado-claro) transparent;
 }

 .Cont{
  max-width: 80%;
  margin: auto;
 }

 
.productos-container{
  border-top-left-radius: 7px;
   border-top-right-radius: 7px;
  display: flex;
  padding-top: 10px;
  margin: auto;
  
  background-color: var(--color-fondo-suave--);
}

.productos-container h2{
 margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  letter-spacing: 2px;
}

.productos-table table {
  width: 100%;

}



/* --- Modal completo --- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.666);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}



.modal-contenido {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.cerrar-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-marron-cuero);
  cursor: pointer;
}


    @media (max-width: 768px) {
       .form-container {
         flex-direction: column;
         gap: 20px; 
        
     }

     .form-envioCompra{
      max-width: 300px;
     }

      .productos-table{
      
      max-height: 400px;
     overflow-y: auto;
     overflow-x: auto;
     scrollbar-width: thin;
      scrollbar-color: var(--color-dorado-claro) transparent;
    }
     .Cont{
      
      max-width: 300px;
      margin-left: 30px;
      display: flex;
        flex-direction: column;
        text-align: center;
     }
     
     .productos-container {
         width: 100%;  
      }

     .productos-container h2 {
       font-size: 16px; 
       letter-spacing: 1px; 
       display: block; 
      }

      .modal-contenido {
     
      max-width: 320px;
 
    }
    
    }


