
:root {
    --color-dorado: #c6a643;             /* Color principal dorado oro */
    --color-dorado-claro: #e5c76f;       /* Para efectos hover o detalles */
    --color-dorado-oscuro: #8f772d;      /* Para bordes o sombreado */
    --color-negro-elegante: #1c1c1c;     /* Fondo oscuro elegante */
    --color-fondo---: #edf1f3;       /* Texto claro o fondo secundario */
    --color-fondo-suave--: #f7e5e5;       /* Texto claro o fondo secundario */
    --color-marron-cuero: #5c3a1e;       /* Detalles tipo cuero */
  }
  

table {
  margin: 0  auto;
  width: 80%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
th, td {
  padding: 16px;
  text-align: left;
  font-size: 14px;
}
th {
  background-color: var(--color-fondo---);
  color: var(--color-marron-cuero);
  font-weight: 600;
}
td {
  border-top: 1px solid #f0f0f0;
  vertical-align: middle;
}
.img-box {
  width: 50px;
  height: 50px;
  background-color: var(--color-fondo---);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-box img {
  width: 30px;
}
.actions i {
  margin: 0 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.actions i.fa-pen {
  background-color: #fff7ed;
  color: var(--color-dorado);
}
.actions i.fa-trash {
  background-color: #fee2e2;
  color: var(--color-marron-cuero);
}


/*----------------------------FORM CONTAINER---------------------------------*/

.form-container{
    margin: 120px auto;
  max-width: 80%;
  min-height: 80vh;
 
  
}


  
  form h2 {
    color: var(--color-dorado);
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.4rem;
  }
  
  form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    color: var(--color-marron-cuero);
  }
  
  form input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--color-fondo---);
    border-radius: 6px;
    font-family: var(--font-family-base);
    font-size: 14px;
    color: var(--color-negro-elegante);
    transition: border-color 0.3s ease;
  }
  
  form input:focus {
    outline: none;
   
    box-shadow: 0 0 1px var(--color-dorado);
  }
  
  form button {
    margin-top: 1.5rem;
    
    padding: 8px 15px;
    background-color: var(--color-dorado);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease;
   
  }
  
  form button:hover {
    background-color: #b28c1f;
  }

  .form-container {
    display: flex;
    gap: 20px; /* espacio entre formularios */
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .card-form {
    flex: 1; /* que ocupen el mismo ancho */
    min-width: 300px;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .formulario-compra{
    overflow: hidden;
    padding: 2rem;
    min-width: 70%;
    max-height: 450px;
    margin: 0 auto 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    font-size: 14px;
    color: var(--color-marron-cuero);
    font-weight: 500;
   
  }
 .formulario-compra input{
  margin-top: 8px;
   outline: none;
    border-color: var(--color-dorado-claro);
    box-shadow: 0 0 1px var(--color-dorado);
 }
 .tablaProductos{
  margin-top: 1rem;
  width: 100%;
 }

 .container-tabla{
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dorado-claro) transparent;
 }



 